services:
  # NGINX - Entry point with TLS
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    ports:
      - "443:443"
      - "8081:8081"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
    depends_on:
      - wordpress
    restart: always
    env_file:
      - ../.env

  # WordPress + php-fpm
  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
    depends_on:
      - mariadb
      - redis
    restart: always
    env_file:
      - ../.env
    secrets:
      - db_password
      - db_root_password
      - wp_admin_password
      - wp_user_password

  # MariaDB
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception_network
    restart: always
    env_file:
      - ../.env
    secrets:
      - db_password
      - db_root_password

  # BONUS: Redis Cache
  redis:
    container_name: redis
    build:
      context: ./requirements/bonus/redis
      dockerfile: Dockerfile
    networks:
      - inception_network
    restart: always

  # BONUS: FTP Server
  ftp:
    container_name: ftp
    build:
      context: ./requirements/bonus/ftp
      dockerfile: Dockerfile
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
    restart: always
    env_file:
      - ../.env
    secrets:
      - ftp_password

  # BONUS: Adminer
  adminer:
    container_name: adminer
    build:
      context: ./requirements/bonus/adminer
      dockerfile: Dockerfile
    networks:
      - inception_network
    depends_on:
      - mariadb
    restart: always

  # BONUS: Static Website (Portfolio/Resume)
  static-site:
    container_name: static-site
    build:
      context: ./requirements/bonus/static-site
      dockerfile: Dockerfile
    networks:
      - inception_network
    ports:
      - "8082:8082"
    restart: always
    env_file:
      - ../.env

  cuma:
    container_name: cuma
    build:
      context: ./requirements/bonus/cuma
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - inception_network
    restart: always
    volumes:
      - cuma_data:/usr/src/app/data
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  inception_network:
    driver: bridge

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/wordpress
  
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/mariadb

  cuma_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/cuma

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt
  ftp_password:
    file: ../secrets/ftp_password.txt